In [4]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\lhbpc\anaconda3\lib\site-packages (5.2.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pyodbc
import pandas as pd

dados_conexao = (
    "Driver={SQL Server};"
    "Server=HENRIQUE\MSSQLSERVER06;"
    "Database=AdventureWorksDW2014"
)

conexao = pyodbc.connect(dados_conexao)
print("Conexão bem sucedida")

Conexão bem sucedida

In [9]:
comando_sql = "SELECT * FROM dbo.VENDAS_INTERNET"

dados = pd.read_sql(comando_sql,conexao)

C:\Users\lhbpc\AppData\Local\Temp\ipykernel_2992\3580828522.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dados = pd.read_sql(comando_sql,conexao)

In [10]:
display(dados)

,Nº PEDIDO,DATA PEDIDO,CATEGORIA PRODUTO,NOME CLIENTE,SEXO,PAÍS,QTD. VENDIDA,CUSTO DA VENDA,RECEITA VENDA
0,SO51247,2013-01-01,Bikes,Cindy Patel,F,Germany,1,1251.9813,2294.99
1,SO51247,2013-01-01,Accessories,Cindy Patel,F,Germany,1,1.8663,4.99
2,SO51247,2013-01-01,Accessories,Cindy Patel,F,Germany,1,3.7363,9.99
3,SO51248,2013-01-01,Bikes,Brad She,M,France,1,1554.9479,2443.35
4,SO51249,2013-01-01,Bikes,Nicole Brown,F,United Kingdom,1,1265.6195,2319.99
...,...,...,...,...,...,...,...,...,...
52796,SO74250,2013-12-31,Clothing,Kyle Adams,M,Canada,1,6.9223,8.99
52797,SO74251,2013-12-31,Accessories,Seth Hernandez,M,United States,1,13.0900,35.00
52798,SO74251,2013-12-31,Accessories,Seth Hernandez,M,United States,1,1.8663,4.99
52799,SO74251,2013-12-31,Accessories,Seth Hernandez,M,United States,1,13.0863,34.99
52800,SO74252,2013-12-31,Clothing,Kenneth Xu,M,Germany,1,6.9223,8.99

In [15]:
dados.shape

(52801, 9)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52801 entries, 0 to 52800
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Nº PEDIDO          52801 non-null  object
 1   DATA PEDIDO        52801 non-null  datetime64[ns]
 2   CATEGORIA PRODUTO  52801 non-null  object
 3   NOME CLIENTE       52801 non-null  object
 4   SEXO               52801 non-null  object
 5   PAÍS               52801 non-null  object
 6   QTD. VENDIDA       52801 non-null  int64
 7   CUSTO DA VENDA     52801 non-null  float64
 8   RECEITA VENDA      52801 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 3.6+ MB

In [17]:
dados['DATA PEDIDO'] = pd.to_datetime(df['DATA PEDIDO'])

In [18]:
dados.dtypes

Nº PEDIDO                    object
DATA PEDIDO          datetime64[ns]
CATEGORIA PRODUTO            object
NOME CLIENTE                 object
SEXO                         object
PAÍS                         object
QTD. VENDIDA                  int64
CUSTO DA VENDA              float64
RECEITA VENDA               float64
dtype: object

In [19]:
dados['RECEITA VENDA'].sum()

np.float64(16351550.339999994)

In [20]:
dados.groupby('PAÍS')['RECEITA VENDA'].sum().sort_values(ascending=False)

PAÍS
United States     5462078.86
Australia         4339443.38
United Kingdom    2124007.29
Germany           1761876.36
France            1578511.80
Canada            1085632.65
Name: RECEITA VENDA, dtype: float64

In [21]:
dados.groupby('CATEGORIA PRODUTO')['RECEITA VENDA'].sum().sort_values(ascending=False)

CATEGORIA PRODUTO
Bikes          15359502.36
Accessories      668241.53
Clothing         323806.45
Name: RECEITA VENDA, dtype: float64

In [26]:
dados.groupby('CATEGORIA PRODUTO')['QTD. VENDIDA'].sum()

CATEGORIA PRODUTO
Accessories    34409
Bikes           9706
Clothing        8686
Name: QTD. VENDIDA, dtype: int64

In [30]:
ticket_medio_geral = (
    df.groupby('Nº PEDIDO')['RECEITA VENDA']
    .sum()
    .mean()
)
ticket_medio_geral

np.float64(768.0750782094038)

In [33]:
ticket_medio_pais = (
    dados.groupby(['PAÍS','Nº PEDIDO'])['RECEITA VENDA']
    .sum()
    .groupby('PAÍS')
    .mean()
    .sort_values(ascending=False)
)
ticket_medio_pais

PAÍS
Australia         935.224866
Germany           922.931566
United Kingdom    893.566382
France            823.428169
United States     719.641484
Canada            380.123477
Name: RECEITA VENDA, dtype: float64

In [34]:
receita_total_pais = (
    dados.groupby('PAÍS')['RECEITA VENDA']
    .sum()
    .sort_values(ascending=False)
)
receita_total_pais

PAÍS
United States     5462078.86
Australia         4339443.38
United Kingdom    2124007.29
Germany           1761876.36
France            1578511.80
Canada            1085632.65
Name: RECEITA VENDA, dtype: float64

In [36]:
ticket_medio_categoria = (
    dados.groupby(['CATEGORIA PRODUTO', 'Nº PEDIDO'])['RECEITA VENDA']
    .sum()
    .groupby('CATEGORIA PRODUTO')
    .mean()
    .sort_values(ascending=False)
)
ticket_medio_categoria

CATEGORIA PRODUTO
Bikes          1582.475001
Clothing         45.446519
Accessories      38.453305
Name: RECEITA VENDA, dtype: float64

In [37]:
ticket_bike_pais = (
    df[df['CATEGORIA PRODUTO'] == 'Bikes']
    .groupby(['PAÍS','Nº PEDIDO'])['RECEITA VENDA']
    .sum()
    .groupby('PAÍS')
    .mean()
    .sort_values(ascending = False)
)
ticket_bike_pais

PAÍS
Australia         1623.419984
Canada            1607.285548
United Kingdom    1581.214417
France            1580.217119
United States     1559.050092
Germany           1546.862173
Name: RECEITA VENDA, dtype: float64